.item {
  align-items: center;
  background: white;
  border-bottom: 1px solid #ededed;
  display: flex;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.2;

  &--showing {
    display: flex;
  }

  &--hidden {
    display: none;
  }
}

.item__text {
  flex: 1;
  line-height: 1.2;
  padding: 15px 15px 15px 5px;
  word-break: break-all;
  text-decoration: none;

  .item--selected & {
    color: #d9d9d9;
    text-decoration: line-through;
  }
} 

.item__checkbox {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  height: 28px;
  margin: 15px 15px;
  position: relative;
  transition: 0.4s border-color ease-in-out;
  width: 28px;

  &:hover {
    border-color: rgba(88, 195, 175, 0.3);
  }

  .item--selected & {
    border-color: rgba(88, 195, 175, 0.6);
  }
}

.item__checkbox label {
  border-radius: 50px;
  cursor: pointer;
  height: 20px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 20px;

  &::after {
    background: transparent;
    border: 2px solid #58c3af;
    border-right: none;
    border-top: none;
    content: '';
    height: 6px;
    left: 1px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 14px;
  }
  
  &:hover::after {
    opacity: 0.3;
  }
}

.item__checkbox input[type=checkbox] {
  visibility: hidden;
  
  &:checked + label:after {
    opacity: 1;
  } 
}

.item__remove {
  border: none;
  color: #cc9a9a;
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
  height: 40px;
  opacity: 0;
  transition: opacity 0.2s, color 0.2s;
  width: 40px;

  &::after {
    content: 'x';
    vertical-align: super;
    background-color: inherit;
  }

  &:hover {
    opacity: 1;
    background-color: inherit;
  }

}

.item__edit {
  display: none;
}

.item--editing {

  .item__edit {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: block;
    flex: 1;
    width: 506px;
    padding: 15px 16px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0);
  }

  .item__text {
    display: none;
  }

}