.todos__controllers {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e6e6e6;
  color: #777;
  display: flex;
  font-weight: 300;
  height: 40px;
  line-height: 1.4em;
  padding: 10px 15px;
  text-align: center;
  width: 100%;

  & button {
    background-color: inherit;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    font-weight: inherit;
    line-height: inherit;
  }

  & > button:hover { // Cual es la forma correcta? & > button:hover o > button:hover !!funciona de las dos formas!!
    text-decoration: underline;
  }
}