
.filters {
  margin: auto 30px;
  width: 50%;

  button {
    margin: -3px auto;
    padding: 3px 6px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: .2s border-color;

    &:hover {
      border-color: rgba(175, 47, 47, 0.1);
    }
  }

  &--clicked button {
    border-color: rgba(175, 47, 47, 0.2);
  }
}